@mixin _str_base(){

	@if $__use-css-comments{
        /** str_base #{$__viewport} */
    }
	
	@if $__viewport == xs{

		.container{
			max-width: 1150px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}

		.main, main{
			padding-top: 32px;
		}
	}

	@if $__viewport == lg{

		.main{
			padding-top: 48px;
		}
		
	}

}