@mixin _str_site-header(){

	@if $__use-css-comments{
        /** str_base #{$__viewport} */
    }
	
	@if $__viewport == xs{
		
		.top-line{
			&-content{
				position: relative;
				min-height: 56px;
				padding-top: 8px;
				padding-bottom: 2px;
			}
			box-shadow: 0px 2px 6px rgba(49, 61, 103, 0.12), 0px 0px 2px rgba(27, 47, 58, 0.25);
		}

		.logo{
			padding-left: 1px;
		}

		.custom-select{
			position: relative;
			color: _color(blackSecond);
			&.language{
				text-transform: capitalize;
			}
			select{
			    opacity: 0;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    z-index: 2;
			    border: 0;
			    height: 100%;
			    width: 100%;
			    outline: none;
			}
		}

		.selected-text{
			padding-right: 20px;
			&.icon-arr-dwn{
				&:before{
					position: absolute;
					top: 50%;
					right: 1px;
					margin-top: -3px;
				}
			}
		}

		.cart{
			position: absolute;
		}

		.swipe-menu{
			position: fixed;
			top: 0;
			right: 0;
			z-index: 999;
			
			display: none;

			padding-top: 14px;
			padding-bottom: 24px;
			padding-left: 16px;
			padding-right: 17px;

			width: 360px;
			height: 100%;
			background-color: _color(brandColor);

			&.active{
				display: block;
			}

		}

		.switchers-box{
			padding-right: 72px;
			overflow: hidden;
			margin-bottom: 21px;
			.btn-close{
				position: absolute;
				top: 17px;
				right: 26px;
			}
		}
		
		.switchers{
			float: right;
			&-item{
				display: inline-block;
				vertical-align: middle;
				& + & {
					margin-left: 20px;
				}
			}
		}

		.custom-select{
			color: _color(white);
		}

		.search-box{
			position: relative;
			.btn-search {
				background-color: transparent;
				border: none;
				outline: none;
				padding: 0;
				position: absolute;
				top: -2px;
				right: 12px;
				min-width: initial;
				width: 40px;
				height: 100%;
			}
		}
		
		.input-search{
			display: block;
			width: 100%;
			border: none;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 19px;
			padding-right: 50px;
			border-radius: 20px;
			&::placeholder{
				color: _color(greyText);
			}
		}

		.cart-content{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-top: 21px;
		}

		.cart-info{
			padding-left: 34px;
			position: relative;
			color: _color(white);
			&.icon-cart-light{
				&:before{
					position: absolute;
					top: 3px;
					left: 3px;
				}
			}
		}

		.cart-count{
			margin-bottom: 5px;
		}

		.cart-total{
			font-family: _font(ff,second);
			font-weight: _font(fw,bold);
			font-size: 22px;
			letter-spacing: -1px;
			line-height: 1.09em;
		}

		.menu{
			@extend %no-list;
			padding-top: 16px;
			padding-bottom: 12px;
			&-item{
				position: relative;
				padding-left: 32px;
				&.icon{
					&:before{
						position: absolute;
						top: 14px;
						left: 1px;
					}
					&-about{
						a{
							&:after{
								display: none;
							}
						}
					}
				}
			}
			a{
				display: block;
				letter-spacing: -1px;
				color: _color(white);
				font-family: _font(ff, second);
				font-size: 18px;
				line-height: 1.333em;
				position: relative;
				padding-top: 12px;
				padding-bottom: 13px;
				&:after{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: _color(stroke);
					opacity: 0.2;
				}
			}
		}

		.banner{
			position: relative;
			width: 330px;
			height: 117px;
			border-radius: 24px;
			background-image: linear-gradient(-107.12deg, #FFFFFF 28.61%, rgba(255, 255, 255, 0) 72.38%), url('../img/banner.png');
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: left center, 0 -37px;

			&-content{
				float: right;
				width: 48%;
			}

			&-label{
				padding: 8px 11px;
				background: #28C75D;
				border-radius: 20px;
				color: _color(white);
				font-size: 16px;
				line-height: 1.25em;
				display: inline-block;
				margin-left: 1px;
			}

			.h3{
				padding: 13px 10px 6px 12px;
			}
		}

		.swipe-phone{
			padding-left: 17px;
			padding-top: 2px;
			span{
				color: _color(white);
				opacity: 0.5;
				display: inline-block;
				vertical-align: middle;
			}

			img{
				height: 18px;
				vertical-align: middle;
				margin-left: 7px;
				margin-top: 2px;
			}
		}

	}

	@if $__viewport == lg{

		.top-line-content{
			padding-top: 16px;
			padding-bottom: 10px;

			min-height: 72px;

			// display: flex;	
			// flex-direction: row;
			// flex-wrap: nowrap;
			// justify-content: space-between;
			// align-items: center;
		}

		.logo{

		}

		.phone{
			float: left;
			max-width: 161px;
			padding-top: 12px;
			padding-left: 23px;
		}

		.switchers{
			padding-top: 6px;
			padding-right: 126px;
		}

		.custom-select{
			color: _color(blackSecond);
		}

		.cart{
			width: 125px;
			height: 48px;
			top: 12px;
			right: 0;

			.icon-cart-dark{
				position: absolute;
				top: 10px;
				left: 8px;
				width: 21px;
			}
		}

		.swipe-menu{
			width: 492px;
			padding-left: 52px;
			padding-right: 80px;
			box-shadow: -3px 4px 24px rgba(9, 12, 35, 0.35);
		}

		.switchers-box{
			.btn-close{
				width: 26px;
				height: 26px;
				top: 22px;
				right: 83px;
				.line{
					&.top{
						width: 3px;
					}
					&.bottom{
						height: 3px;
					}
				}
			}
		}

		.header-search{
			padding-top: 63px;
		}

		.search-box{
			.btn-search{
				right: 8px;
			}
		}

		.cart-content{
			padding-top: 29px;
			.btn-checkout{
				margin-right: 15px;
			}
		}

		.cart-info{
			padding-left: 51px;
			&.icon-cart-light{
				&:before{
					top: -5px;
					left: 21px;
				}
			}
		}

		.cart-count{
			line-height: 1.333em;
			margin-top: -6px;
			margin-bottom: 10px;
		}

		.cart-total{
			font-size: 32px;
		}

		.menu{
			padding-top: 37px;
			padding-bottom: 30px;
			&-item{
				padding-left: 51px;
				&.icon{
					&:before{
						top: 17px;
						left: 21px;
					}
				}
			}

			a{
				font-size: 20px;
				line-height: 1.2em;
				padding-top: 15px;
				padding-bottom: 17px;
				margin-bottom: 1px;
			}
		}

		.banner{
			width: 42%;
			width: 360px;
			height: 140px;
			background-position: left center, 0 -33px;

			.h3{
				padding-top: 26px;
				padding-bottom: 7px;
			}
		}
		
	}

	@if $__viewport == dev{
		.cart{
			top: 50%;
			right: 17px;
			margin-top: -20px;
			width: 40px;
			height: 40px;
		}
	}

}