@mixin _str_site-header(){

	@if $__use-css-comments{
        /** str_base #{$__viewport} */
    }
	
	@if $__viewport == xs{
		
		.top-line{
			&-content{
				position: relative;
				min-height: 56px;
				padding-top: 8px;
				padding-bottom: 2px;
			}
			box-shadow: 0px 2px 6px rgba(49, 61, 103, 0.12), 0px 0px 2px rgba(27, 47, 58, 0.25);
		}

		.logo{
			padding-left: 1px;
		}

		.custom-select{
			position: relative;
			color: _color(blackSecond);
			&.language{
				text-transform: capitalize;
			}
			select{
			    opacity: 0;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    z-index: 2;
			    border: 0;
			    height: 100%;
			    width: 100%;
			    outline: none;
			}
		}

		.selected-text{
			padding-right: 20px;
			&.icon-arr-dwn{
				&:before{
					position: absolute;
					top: 50%;
					right: 1px;
					margin-top: -3px;
				}
			}
		}

		.cart{
			position: absolute;
		}

		.swipe-menu{
			position: fixed;
			top: 0;
			right: 0;
			z-index: 999;
			
			padding-top: 14px;
			padding-bottom: 24px;
			padding-left: 16px;
			padding-right: 17px;

			width: 360px;
			height: 100%;
			background-color: _color(brandColor);
			// left: -100%;
		}

		.switchers-box{
			padding-right: 72px;

			.btn-close{
				position: absolute;
				top: 17px;
				right: 26px;
			}
		}
		
		.switchers{
			float: right;
			&-item{
				display: inline-block;
				vertical-align: middle;
				& + & {
					margin-left: 20px;
				}
			}
		}

		.custom-select{
			color: _color(white);
		}
	}

	@if $__viewport == lg{

		.top-line-content{
			padding-top: 16px;
			padding-bottom: 10px;

			min-height: 72px;

			// display: flex;	
			// flex-direction: row;
			// flex-wrap: nowrap;
			// justify-content: space-between;
			// align-items: center;
		}

		.logo{

		}

		.phone{
			float: left;
			max-width: 161px;
			padding-top: 12px;
			padding-left: 23px;
		}

		.switchers{
			padding-top: 6px;
			padding-right: 126px;
		}

		.cart{
			width: 125px;
			height: 48px;
			top: 12px;
			right: 0;

			.icon-cart-dark{
				position: absolute;
				top: 10px;
				left: 8px;
				width: 21px;
			}
		}

		.swipe-menu{
			width: 492px;
			box-shadow: -3px 4px 24px rgba(9, 12, 35, 0.35);
		}
		
	}

	@if $__viewport == dev{
		.cart{
			top: 50%;
			right: 17px;
			margin-top: -20px;
			width: 40px;
			height: 40px;
		}
	}

}