@mixin _str_base(){

	@if $__use-css-comments{
        /** str_base #{$__viewport} */
    }
	
	@if $__viewport == xs{

		.container{
			max-width: 1150px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
		}

		.main, main{
			padding-top: 31px;
			padding-bottom: 40px;
		}

		.page-product{
			.main{
				padding-top: 11px;
			}
		}
	}

	@if $__viewport == lg{

		.main{
			padding-top: 48px;

			.l_sec & {
				padding-top: 24px;
			}
		}
		
		.page-product{
			.col-left{
				padding-top: 54px;
			}
		}

		
	}

}