/**
Section named as xs
 */
/*
    typography xs
    styles for default html tag s and similar classes
*/
/** tpg_tags xs */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e9ecee;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #263645;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #263645;
}

h1 {
  font-size: 28px;
  margin: 0 0 0.67em;
}

h2 {
  font-size: 24px;
  margin: 0 0 0.67em;
}

h3 {
  font-size: 22px;
  margin: 0 0 0.67em;
}

h4 {
  font-size: 18px;
  margin: 0 0 0.67em;
}

h5 {
  font-size: 16px;
  margin: 0 0 0.67em;
}

h6 {
  font-size: 14px;
  margin: 0 0 0.67em;
}

p {
  margin: 0 0 0.67em;
}

a {
  color: #006dff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*
    utilities xs
    
*/
/** tpg_texts xs */
/*
    structure xs
    styles for main page construction
*/
/*
    buttons xs
    
*/
/** btns xs */
.btn-acc:hover, .btn-inverse {
  background-color: transparent;
  border: 1px solid #fe9540;
  color: #fe9540;
}

.btn-acc, .btn-inverse:hover {
  background-color: #fe9540;
  border: 1px solid #fe9540;
  color: #fff;
}

.btn,
.button input,
input[type="submit"],
input[type="reset"],
button,
input.btn {
  display: inline-block;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2em;
  padding: 9px 14px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  position: relative;
  border: 1px solid #fe9540;
  min-width: 85px;
}
.btn:before,
.button input:before,
input[type="submit"]:before,
input[type="reset"]:before,
button:before {
  margin-right: 4px;
  vertical-align: middle;
}
.btn:after,
.button input:after,
input[type="submit"]:after,
input[type="reset"]:after,
button:after {
  margin-left: 4px;
  vertical-align: middle;
}
[disabled].btn,
.button input[disabled],
input[disabled][type="submit"],
input[disabled][type="reset"],
button[disabled], .disabled.btn,
.button input.disabled,
input.disabled[type="submit"],
input.disabled[type="reset"],
button.disabled {
  opacity: 0.5;
  cursor: default;
}

.btn,
.button input,
input[type="submit"],
input[type="reset"],
button,
input.btn {
  background-color: #fe9540;
  color: #fff;
}
.btn:hover,
.button input:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
input.btn:hover {
  color: #fe9540;
  background: #fff;
  border: 1px solid #fe9540;
  text-decoration: none;
}

/*
    lists xs
    
*/
/*
    blocks xs
    
*/
/** _blocks_example2 xs */
.example2 {
  width: 10px;
}

/** _blocks_example xs */
.example {
  width: 10px;
}

/*
    forms xs
    
*/
/** forms xs */
input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="search"],
input[type="password"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
  color: #263645;
  border: 1px solid #bbb;
  padding: 5px 10px;
  background-color: #fff;
}

button,
input[type="submit"] {
  background-color: #ccc;
  border: 1px solid #bbb;
}

legend {
  font-size: 14px;
  color: #263645;
}

fieldset {
  border: 1px solid #bbb;
}

/*
    tables xs
    
*/
/** tbl_table xs */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}
table thead th {
  color: #aec2c9;
}
table tbody td {
  height: 82px;
  background-color: #fff;
}
table tbody td .td-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
table thead + tbody tr:first-child td:first-child {
  border-top-left-radius: 5px;
}
table thead + tbody tr:first-child td:last-child {
  border-top-right-radius: 5px;
}
table tbody:last-child tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
table tbody:last-child tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/*
    other xs
    
*/
@media only screen and (min-width: 560px) {
  /**
  Section named as sm
   */
  /*
      typography sm
      styles for default html tag s and similar classes
  */
  /** tpg_tags sm */
  /*
      utilities sm
      
  */
  /** tpg_texts sm */
  /*
      structure sm
      styles for main page construction
  */
  /*
      buttons sm
      
  */
  /** btns sm */
  /*
      lists sm
      
  */
  /*
      blocks sm
      
  */
  /** _blocks_example2 sm */
  .example2 {
    width: 20px;
  }

  /** _blocks_example sm */
  .example {
    width: 20px;
  }

  /*
      forms sm
      
  */
  /** forms sm */
  /*
      tables sm
      
  */
  /** tbl_table sm */
  /*
      other sm
      
  */
}
@media only screen and (min-width: 768px) {
  /**
  Section named as md
   */
  /*
      typography md
      styles for default html tag s and similar classes
  */
  /** tpg_tags md */
  /*
      utilities md
      
  */
  /** tpg_texts md */
  /*
      structure md
      styles for main page construction
  */
  /*
      buttons md
      
  */
  /** btns md */
  /*
      lists md
      
  */
  /*
      blocks md
      
  */
  /** _blocks_example2 md */
  .example2 {
    width: 30px;
  }

  /** _blocks_example md */
  .example {
    width: 30px;
  }

  /*
      forms md
      
  */
  /** forms md */
  /*
      tables md
      
  */
  /** tbl_table md */
  /*
      other md
      
  */
}
@media only screen and (min-width: 1025px) {
  /**
  Section named as lg
   */
  /*
      typography lg
      styles for default html tag s and similar classes
  */
  /** tpg_tags lg */
  /*
      utilities lg
      
  */
  /** tpg_texts lg */
  /*
      structure lg
      styles for main page construction
  */
  /*
      buttons lg
      
  */
  /** btns lg */
  /*
      lists lg
      
  */
  /*
      blocks lg
      
  */
  /** _blocks_example2 lg */
  .example2 {
    width: 40px;
  }

  /** _blocks_example lg */
  .example {
    width: 40px;
  }

  /*
      forms lg
      
  */
  /** forms lg */
  /*
      tables lg
      
  */
  /** tbl_table lg */
  /*
      other lg
      
  */
}
@media only screen and (min-width: 1260px) {
  /**
  Section named as xl
   */
  /*
      typography xl
      styles for default html tag s and similar classes
  */
  /** tpg_tags xl */
  /*
      utilities xl
      
  */
  /** tpg_texts xl */
  /*
      structure xl
      styles for main page construction
  */
  /*
      buttons xl
      
  */
  /** btns xl */
  /*
      lists xl
      
  */
  /*
      blocks xl
      
  */
  /** _blocks_example2 xl */
  .example2 {
    width: 50px;
  }

  /** _blocks_example xl */
  .example {
    width: 50px;
  }

  /*
      forms xl
      
  */
  /** forms xl */
  /*
      tables xl
      
  */
  /** tbl_table xl */
  /*
      other xl
      
  */
}
@media only screen and (max-width: 1024px) {
  /**
  Section named as dev
   */
  /*
      typography dev
      styles for default html tag s and similar classes
  */
  /** tpg_tags dev */
  /*
      utilities dev
      
  */
  /** tpg_texts dev */
  /*
      structure dev
      styles for main page construction
  */
  /*
      buttons dev
      
  */
  /** btns dev */
  /*
      lists dev
      
  */
  /*
      blocks dev
      
  */
  /** _blocks_example2 dev */
  .example2 {
    width: 60px;
  }

  /** _blocks_example dev */
  .example {
    width: 60px;
  }

  /*
      forms dev
      
  */
  /** forms dev */
  /*
      tables dev
      
  */
  /** tbl_table dev */
  /*
      other dev
      
  */
}
@media only screen and (max-width: 767px) {
  /**
  Section named as mob
   */
  /*
      typography mob
      styles for default html tag s and similar classes
  */
  /** tpg_tags mob */
  /*
      utilities mob
      
  */
  /** tpg_texts mob */
  /*
      structure mob
      styles for main page construction
  */
  /*
      buttons mob
      
  */
  /** btns mob */
  /*
      lists mob
      
  */
  /*
      blocks mob
      
  */
  /** _blocks_example2 mob */
  .example2 {
    width: 70px;
  }

  /** _blocks_example mob */
  .example {
    width: 70px;
  }

  /*
      forms mob
      
  */
  /** forms mob */
  /*
      tables mob
      
  */
  /** tbl_table mob */
  /*
      other mob
      
  */
}
@media only screen and (max-width: 559px) {
  /**
  Section named as xso
   */
  /*
      typography xso
      styles for default html tag s and similar classes
  */
  /** tpg_tags xso */
  /*
      utilities xso
      
  */
  /** tpg_texts xso */
  /*
      structure xso
      styles for main page construction
  */
  /*
      buttons xso
      
  */
  /** btns xso */
  /*
      lists xso
      
  */
  /*
      blocks xso
      
  */
  /** _blocks_example2 xso */
  .example2 {
    width: 80px;
  }

  /** _blocks_example xso */
  .example {
    width: 80px;
  }

  /*
      forms xso
      
  */
  /** forms xso */
  /*
      tables xso
      
  */
  /** tbl_table xso */
  /*
      other xso
      
  */
}
@media only screen and (min-width: 560px) and (max-width: 767px) {
  /**
  Section named as smo
   */
  /*
      typography smo
      styles for default html tag s and similar classes
  */
  /** tpg_tags smo */
  /*
      utilities smo
      
  */
  /** tpg_texts smo */
  /*
      structure smo
      styles for main page construction
  */
  /*
      buttons smo
      
  */
  /** btns smo */
  /*
      lists smo
      
  */
  /*
      blocks smo
      
  */
  /** _blocks_example2 smo */
  .example2 {
    width: 90px;
  }

  /** _blocks_example smo */
  .example {
    width: 90px;
  }

  /*
      forms smo
      
  */
  /** forms smo */
  /*
      tables smo
      
  */
  /** tbl_table smo */
  /*
      other smo
      
  */
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /**
  Section named as mdo
   */
  /*
      typography mdo
      styles for default html tag s and similar classes
  */
  /** tpg_tags mdo */
  /*
      utilities mdo
      
  */
  /** tpg_texts mdo */
  /*
      structure mdo
      styles for main page construction
  */
  /*
      buttons mdo
      
  */
  /** btns mdo */
  /*
      lists mdo
      
  */
  /*
      blocks mdo
      
  */
  /** _blocks_example2 mdo */
  .example2 {
    width: 100px;
  }

  /** _blocks_example mdo */
  .example {
    width: 100px;
  }

  /*
      forms mdo
      
  */
  /** forms mdo */
  /*
      tables mdo
      
  */
  /** tbl_table mdo */
  /*
      other mdo
      
  */
}
@media only screen and (min-width: 1025px) and (max-width: 1259px) {
  /**
  Section named as lgo
   */
  /*
      typography lgo
      styles for default html tag s and similar classes
  */
  /** tpg_tags lgo */
  /*
      utilities lgo
      
  */
  /** tpg_texts lgo */
  /*
      structure lgo
      styles for main page construction
  */
  /*
      buttons lgo
      
  */
  /** btns lgo */
  /*
      lists lgo
      
  */
  /*
      blocks lgo
      
  */
  /** _blocks_example2 lgo */
  .example2 {
    width: 110px;
  }

  /** _blocks_example lgo */
  .example {
    width: 110px;
  }

  /*
      forms lgo
      
  */
  /** forms lgo */
  /*
      tables lgo
      
  */
  /** tbl_table lgo */
  /*
      other lgo
      
  */
}

/*# sourceMappingURL=css.css.map */
