$e_btns: (
        bg_accent: _color(accent),
        borderColor: _color(accent),
        borderWidth: 1px,
        ff: _font(ff, base),
        fz: 13px,
        lh: 1.2em,
        br: 5px,
);
@function _btns($var) {
    @return map_get($e_btns, $var);
}

@mixin btns{
    @if $__use-css-comments{
        /** btns #{$__viewport} */
    }
    @if $__viewport == xs{
        %btn-inverse {
            background-color: transparent;
            border: _btns(borderWidth) solid _btns(borderColor);
            color: _color(accent);
        }
        %btn-acc {
            background-color: _btns(bg_accent);
            border: _btns(borderWidth) solid _btns(borderColor);
            color: #fff;
        }

        %btn{
            display: inline-block;
            text-align: center;
            font-family: _btns(ff);
            font-size: _btns(fz);
            font-weight: _font(fw,bold);
            line-height: _btns(lh);
            padding: 9px 14px;
            border-radius: _btns(br);
            cursor: pointer;
            outline: none;
            text-decoration: none;
            position: relative;
            border: _btns(borderWidth) solid _btns(borderColor);
            min-width: 85px;

            &:before{
                margin-right: 4px;
                vertical-align: middle;
            }
            &:after{
                margin-left: 4px;
                vertical-align: middle;
            }

            &[disabled],
            &.disabled{
                opacity: 0.5;
                cursor: default;
            }
        }

        .btn,
        .button input,
        input[type="submit"],
        input[type="reset"],
        button,
        input.btn{
            @extend %btn;
            background-color: _color(accent);
            color: #fff;

            &:hover{
                color: _color(accent);
                background: #fff;
                border: 1px solid _color(accent);
                text-decoration: none;
            }
        }

        .btn{
            &-acc {
                @extend %btn-acc;
                &:hover {
                    @extend %btn-inverse;
                }
            }
            &-inverse {
                @extend %btn-inverse;
                &:hover {
                    @extend %btn-acc;
                }
            }
        }
    

        .btn-menu{
            position: absolute;
            // top: 50%;
            right: 0;
            background-color: _color(brandColor);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            &-inner{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 22px;
                height: 22px;
                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 1px;
                    margin-top: 4px;
                    &:last-child{
                        width: 19px;
                    }
                }
            }
        }

        .btn-close{
            position: relative;
            width: 22px;
            height: 22px;
            transform: rotate(45deg);
            .line{
                background-color: #fff;
                border-radius: 1px;
                position: absolute;
                &.top{
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2.5px;
                    height: 100%;
                }
                &.bottom{
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 2.5px;
                }
            }
        }
    }

    @if $__viewport == lg{
        .btn-menu{
            width: 48px;
            height: 48px;
            right: 7px;
            top: 0;
            // margin-top: -24px;
            &-inner{
                width: 26px;
                height: 26px;
                span{
                    height: 3px;
                    border-radius: 2px;
                    margin-top: 4px;
                    &:last-child{
                        width: 23px;
                    }
                }
            }
        }
    }
}


        
    
