$e_btns: (
    ff: _font(ff, second),
    lh: 1.2em,
    br: 8px,
    borderWidth: 1px
);

@function _btns($var) {
    @return map_get($e_btns, $var);
}

@mixin btns{
    @if $__use-css-comments{
        /** btns #{$__viewport} */
    }
    @if $__viewport == xs{
        
        %btn{
            display: inline-block;
            text-align: center;
            font-family: _btns(ff);
            font-size: 20px;
            line-height: _btns(lh);
            border-radius: _btns(br);
            cursor: pointer;
            outline: none;
            text-decoration: none;
            position: relative;
            color: #fff;
            // padding: 12px 32px;
            padding: 10px 31px 12px;
        }

        %btn-acc {
            background-color: _color(brandColor);
            color: #fff;
            &:hover{
                background-color: #2C69FF;
                // box-shadow: 0px 4px 8px rgba(0, 68, 233, 0.2);
            }
        }

        %btn-inv{
            @extend %btn;
            color: _color(black);
            border: 1px solid _color(stroke);
        }
        
        .btn,
        .btn-tbl,
        .btn-checkout{
            @extend %btn;
            @extend %btn-acc;
        }

        .btn{
            box-shadow: 0 4px 8px rgba(0, 68, 233, 0.2);
             &-tbl{
                font-size: 16px;
                padding: 8px 16px;
                &-inv{
                    @extend %btn-inv;
                    font-size: 16px;
                    
                    &:hover{
                        background-color: #E7EEFF;
                    }
                }
             }

             &-inv{
                @extend %btn-inv;
                
                &.active{
                    background-color: _color(brandColor);
                    color: _color(white);
                }

                &.passed{
                    background-color: #D8E0F2;
                    color: _color(brandColor);
                }
             }
        }

        .btn-menu{
            position: absolute;
            // top: 50%;
            right: 0;
            background-color: _color(brandColor);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            &-inner{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 22px;
                height: 22px;
                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 1px;
                    margin-top: 4px;
                    &:last-child{
                        width: 19px;
                    }
                }
            }
        }

        .btn-close{
            position: relative;
            width: 22px;
            height: 22px;
            transform: rotate(45deg);
            cursor: pointer;
            .line{
                background-color: #fff;
                border-radius: 1px;
                position: absolute;
                &.top{
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 2.5px;
                    height: 100%;
                }
                &.bottom{
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 2.5px;
                }
            }
        }

        .btn-checkout{
            border: 1px solid _color(stroke);
        }
    }

    @if $__viewport == lg{
        .btn-menu{
            width: 48px;
            height: 48px;
            right: 7px;
            top: 0;
            // margin-top: -24px;
            &-inner{
                width: 26px;
                height: 26px;
                span{
                    height: 3px;
                    border-radius: 2px;
                    margin-top: 4px;
                    &:last-child{
                        width: 23px;
                    }
                }
            }
        }
    }
}


        
    
