
// @include forms-xs();
// @include forms-sm();
// @include forms-md();
// @include forms-lg();
// @include forms-xl();
// @include forms-dev();
// @include forms-mob();
// @include forms-xso();
// @include forms-smo();
// @include forms-mdo();
// @include forms-lgo();

$e_forms: (
        // fz: _font(fz, base),
        // bgc_button: _bgc(button),
        bgc_input: _bgc(input),
        // p_input: 5px 10px,
        bd_input: 1px solid _color(border),
        // c: _color(text),
);

@function _forms($var) {
    @return map_get($e_forms, $var);
}

@mixin forms(){
    @if $__use-css-comments{
        /** forms #{$__viewport} */
    }
    @if $__viewport == xs{
        input,
        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="tel"],
        input[type="search"],
        input[type="password"],
        input[type="time"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        select,
        textarea {
            // color: _forms(c);
            // border: _forms(bd_input);
            // padding: _forms(p_input);
            background-color: _forms(bgc_input);
        }

        input[type="text"]{
            height: 40px;
        }

        button,
        input[type="submit"]{
            // background-color: _forms(bgc_button);
            // border: _forms(bd_input);
        }

        legend {
            // font-size: _forms(fz);
            // color: _forms(c);
        }
        fieldset {
            // border: _forms(bd_input);
        }
    }
}