
$e_forms: (
        // fz: _font(fz, base),
        // bgc_button: _bgc(button),
        bgc_input: _bgc(input),
        // p_input: 5px 10px,
        bd_input: 1px solid _color(stroke),
        // c: _color(text),
);

@function _forms($var) {
    @return map_get($e_forms, $var);
}

@mixin forms(){
    @if $__use-css-comments{
        /** forms #{$__viewport} */
    }
    @if $__viewport == xs{
        input,
        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="tel"],
        input[type="search"],
        input[type="password"],
        input[type="time"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="color"],
        textarea {
            // color: _forms(c);
            // padding: _forms(p_input);
            background-color: _forms(bgc_input);
            border: _forms(bd_input);
            height: 40px;
            border-radius: 4px;
            width: 265px;
            &:focus{
                box-shadow: 0px 4px 12px rgba(0, 68, 233, 0.2);
                border-color: _color(brandColor);
            }
        }

        label{
            display: block;
            color: _color(greyText);
            font-size: 16px;
            line-height: 1.5em;
        }

        button,
        input[type="submit"]{
            // background-color: _forms(bgc_button);
            // border: _forms(bd_input);
        }

        fieldset {
            // border: _forms(bd_input);
        }
    }
}