@mixin blocks-profits(){
    @if $__use-css-comments{
        /** blocks-profits #{$__viewport} */
    }
    .block-profits{
        @if $__viewport == xs{
            a {
                font-size: 13px;
                line-height: 18px;
                margin-right: 10px;
                font-weight: bold;
            
                &:before {
                    margin-right: 4px;
                }
            
                &:nth-child(1) {
                    color: #FDAC10;
                }
            
                &:nth-child(2) {
                    color: #28C75D;
                }
            
                &:nth-child(3) {
                    color: #FF003D;
                }
            }
        }
        @if $__viewport == sm{
            // width: 20px;
        }
        @if $__viewport == md{
            // width: 30px;
        }
        @if $__viewport == lg{
            // width: 40px;
        }
        @if $__viewport == xl{
            // width: 50px;
        }
        @if $__viewport == dev{
            // width: 60px;
        }
        @if $__viewport == mob{
            // width: 70px;
        }
        @if $__viewport == xso{
            // width: 80px;
        }
        @if $__viewport == smo{
            // width: 90px;
        }
        @if $__viewport == mdo{
            // width: 100px;
        }
        @if $__viewport == lgo{
            // width: 110px;
        }
    }
}
