@mixin page-account(){
    
    @if $__use-css-comments{
        /** btns #{$__viewport} */
    }

    @if $__viewport == xs{

    	.page-account,
		.page-subscribe,
		.page-coupon{
			table,
	        thead,
	        tfoot,
	        tbody,
	        tr,
	        th,
	        td {
	            display: block;
	        }

		}

		.page-account,
		.page-subscribe{
			
	        table{
	        	display: flex;
	        	flex-direction: column-reverse;
	        }
		}
	
		.page-account,
		.page-subscribe,
		.page-coupon{
			table{
				text-align: left;
				th{
					color: #7F8694;
					font-size: 16px;
					line-height: 1.5em;
					font-weight: 400;
				}

				tfoot{
					
					th{
						input[type="submit"]{
							height: auto;
						}
					}
				}

				tr{
					margin-bottom: 12px;
				}
			}

			input[name="vcode"]{
				width: 108px;
			}
		}

		.page-subscribe{
			// table{
			// 	tfoot{
			// 		tr{

			// 			th:first-child{
			// 				display: flex;
			// 				flex-direction: column-reverse;
			// 				text-indent: 120px;
			// 				a{
			// 					margin-top: -18px;
			// 					margin-bottom: 15px;
			// 				}
			// 			}
			// 		}
			// 	}
			// }

			// .error{
			// 	color: _color(red);
			// }
		}

		.page-testimonials{
			
			.spelling{
				h3{
					margin-bottom: 1.5em;
				}
			}

			.testimonial{
				border-top: 1px solid _color(stroke);
				padding: 15px;
				&:hover{
					 background-color: #E7EEFF;
				}
			}

			.test-author{
				color: _color(brandColor);
			}
		}

		#vcode_img{
			margin-left: 10px;
		}

		.scrollable{
			max-width: 100%;
			overflow: auto;
		}

		.page-faq{
			.simple{
				&, td,th{
					border: 1px solid _color(stroke);
				}

				td,th{
					padding: 5px 10px;
				}

				thead{
					th,
					td{
						color: _color(greyText);
						background-color: #E7EEFF;
					}

					th{
						
					}
				}
			}
		}

		.page-sitemap{
			ul{
				li{
					&:first-of-type{
						list-style-type: none;
					}
				}
			}
		}

		.page-subscribe{

			tfoot{
				tr{

					th:first-child{
						display: flex;
						flex-direction: column-reverse;
						text-indent: 120px;
						a{
							margin-top: -18px;
							margin-bottom: 15px;
						}
					}
				}
			}

			.error{
				color: _color(red);
			}
		}

    }

    @if $__viewport == dev{
		
		// .page-account,
		// .page-subscribe{
		// 	table,
	 //        thead,
	 //        tfoot,
	 //        tbody,
	 //        tr,
	 //        th,
	 //        td {
	 //            display: block;
	 //        }


	 //        table{
	 //        	display: flex;
	 //        	flex-direction: column-reverse;
	 //        }
		// }

		// .page-subscribe{

		// 	tfoot{
		// 		tr{

		// 			th:first-child{
		// 				display: flex;
		// 				flex-direction: column-reverse;
		// 				text-indent: 120px;
		// 				a{
		// 					margin-top: -18px;
		// 					margin-bottom: 15px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
		
    }

    @if $__viewport == lg{
		
		.page-account,
		.page-subscribe{
			table{
				tbody{
					td{
						padding-bottom: 12px;
					}
				}
			}
		}
		
    }
}