// Placeholders typography

@mixin pl-typography($v:false){
    @if not $v and $__viewport {
        $v: $__viewport;
    }
    @if $v == xs {
        .product {
            &__title {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 12px;
            }
            &__header {
                margin-bottom: 24px;

                &--dosage {
                    transition: all ease .3s;

                    .product--stage-package & {
                        overflow: hidden;
                        height: 0;
                        margin-bottom: 0;
                    }
                }
                
                &--package {
                    display: none;

                    .product--stage-package & {
                        display: block;
                    }
                }
            }
            &__body {
                .product--stage-package & {
                    overflow: hidden;
                }
            }
            &__fulldesc {
                display: none;
            }
        }
    }
    @if $v == sm {

    }
    @if $v == md {

    }
    @if $v == lg {
        .product {
            &__title {
                font-size: 48px;
            }

            &__toggle-desc {
                display: none;
            }

            &__fulldesc {
                display: inline;
            }
        }
    }
    @if $v == xl {

    }
    @if $v == dev {

    }
    @if $v == mob {

    }
    @if $v == xso {

    }
    @if $v == smo {

    }
    @if $v == mdo {

    }
    @if $v == lgo {

    }
}